@import "background.css";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
svg {
    height: 500px;
    width: 500px;
}
path {
    fill: rgb(227, 222, 222);
    stroke: black;
}
circle {
    fill: #142129;
    stroke: black;
}

text {
    text-anchor: middle;
    font: 5px Calibri, Arial;
    color: #333;
}

h1 {
    color: white;
}

@keyframes colorChange {
    0% {
      fill: #277abd; /* Start color (left side) */
    }
    100% {
      fill: #d5eb7d; /* End color (right side) */
    }
  }
  
/* Apply the animation on hover */
.circle-content:hover {
    animation: colorChange 1s linear infinite alternate;
}

.experience-text {
    transform-origin: center;
    transform: rotate(-90deg);
    pointer-events: none;
}

.about-text {
    transform-origin: center;
    transform: rotate(26deg);
    pointer-events: none;
}

.project-text {
    transform-origin: center;
    transform: rotate(145deg);
    pointer-events: none;
}

@media (max-width: 767px) {
    main {
      flex-direction: column; /* Change to a vertical layout */
      align-items: center; /* Center items horizontally */
      justify-content: flex-start; /* Align items to the top */
    }
  
    svg {
      width: 90%;
      margin-top: 20px; /* Add some space between h1 and svg */
    }
  }