@import "style.css";

h2 {
    text-align: center;
}

/* Projects styling */
.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.techlist {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.techlist li {
    margin-bottom: 10px;
}

li {
    color: #333;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (max-width: 768px) {
    .project {
        flex: 1 100%;
    }
}